/*
 Theme Name:   Homey Child
 Theme URI:    https://bravedigital.com
 Description:  Homey Child Theme
 Author:       Brave Digital
 Author URI:   https://bravedigital.com
 Template:     homey
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         homey
 Text Domain:  homey-child
*/

#homey_nav_sticky_mobile .mobile-logo img {
    width: 60px;
    height: auto;
}

.map_canvas {
    height: 300px;
    width: 100%;
}

.woocommerce .return-to-shop {
    display: none;
}